@page
@model News_Web.Pages.Admin.User.ChangeRoleModel
@{
    Layout = null;
}

<h3 class="text-center">Are you sure ?</h3>
<div>

    <a  style="float:left;width:150px;" class="btn btn-outline-danger"  onclick="$('#MyModal').modal('hide');">cancel</a>
    <a style="float:right;width:150px;" asp-page-handler="ChangeRoleHandler" asp-route-UserId="@Model.UserDTO.Id" class="btn btn-outline-primary">Yes , Im Sure</a>
   
    
</div>