<div class="single_post" style="margin-bottom:50px;margin-top:50px;">
    <div class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="post_content not_found text-center">
                <span>404</span>
                <p>Not Found</p>
            </div>
        </div>
    </div>
</div>