
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MyModalLable">New message</h5>
      
        
      </div>
      <div class="modal-body" id="MyModalBody">
        ...
      </div>
      <div class="modal-footer">
        <hr />
      </div>
    </div>
  </div>
</div>
